.contact-list {
    margin-bottom: 30px;
  }
  
  /* Contact cards styled with #00b2a6 and neon glow */
  .contact-card {
    background-color: #00b2a6;
    padding: 15px;
    border-radius: 8px;
    width: 200%;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(216, 163, 16, 0.8);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .contact-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 65px #ac820e;
  }
  
  /* Name and info styles */
  .contact-name {
    font-size: 22px;
    font-weight: bold;
    color: #ffcc00;
  }
  
  .contact-info {
    font-size: 18px;
    margin: 5px 0;
    color: #fff;
  }
  
  /* Footer styling */
  .contact-footer {
    margin-top: 30px;
    font-size: 18px;
    font-style: italic;
    /* color: #00b2a6; */
    text-shadow: 2px 2px 10px #00b2a6;
    text-align: center;

  }
  
  /* Fade-in animation */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  
  /* Neon text effect for headings */
.neon-text {
    text-shadow: 2px 2px 10px #ff6600;
  }
  
  .card-color{
    background-color: #00b2a6;
  }

    .default-cursor{
        cursor: default;
    }
 